<div class="cell{{#if this.completed}} completed{{/if}}"
  data-toggle="tooltip"
  data-placement="bottom"
  title="<b>{{this.grade}}.{{toUpperCase this.domain}}.{{toUpperCase this.cluster}}.{{this.name}}</b><p>{{this.text}}</p>"
  devData={{this.grade}}.{{toUpperCase this.domain}}.{{toUpperCase this.cluster}}.{{this.name}}
  studentData='<img src="./img/grade-{{this.grade}}.png" alt="" />'>
  <img src="./img/grade-{{this.grade}}.png" alt="" />
</div>
