<html>
  <head>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>

  </head>
  <body>
      <h1>{{name}}</h1>
      <table border="1">
        <tr>
          <th>#</th>
          {{#domains}}
          <th>{{toUpperCase .}}</th>
          {{/domains}}
        </tr>
        {{#rows}}
        <tr>
          <td>{{inc @index}}</td>
          {{#this}}
          <td>
            {{#if this.cluster}}
              {{this.grade}}.{{toUpperCase this.domain}}.{{toUpperCase this.cluster}}.{{this.name}}
            {{/if}}
          </td>
          {{/this}}
        </tr>
        {{/rows}}
      </table>
  </body>
</html>
